# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.pyc

# IDE files
.vscode/
.idea/

# Model file (optional, if you want to keep the repo small)
*.h5

# Temporary and dataset files
tempCodeRunnerFile.python
*.jpg
*.png